.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3em 1.5em;
}

.bg {
    background: powderblue;
    background-image: url("../IMG_0076.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250vh;
    opacity: 1;
}

.menu ul{

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    flex: .090;
}
.menu a {
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.menu a:hover {
    background: lightskyblue;

}

h1{

    color: white;
    font-family: "Corsiva Hebrew" ;
    font-weight: 100;
    font-size: 45px;
}

.about {

    position: relative;
    padding-top: 42%;
    align-items: flex-end;

}

.Contact img {
    width: 50px;
    height: auto;
}


.about div{
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    border-style: outset;
    background: whitesmoke;
}

.about a{
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.Contact {

    position: relative;
    padding-top: 5%;
    align-items: flex-end;

}


.Contact div{
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    border-style: outset;
    background: whitesmoke;
}

.Contact a{
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}