*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightcyan;
    height: 100vh;
}

.box {
    width: 65vw;
    height: 90vh;
    border-width: 5px;
    border-color: black;
    box-shadow: 3px 2px black;

}

.navbar{
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 1vh;
}

.container ul{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
}

.container h3{
    font-size: 2vw;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
}

.container h1{
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    justify-content: center;
}

.container hr{

    border: 2px dashed black;
}

@media only screen and (max-width: 870px) and (min-height: 700px){
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .box {
        width: 85vw;
        height: 70vh;
        border-width: 5px;
        border-color: black;
        box-shadow: 3px 2px black;

    }

    .navbar{
        padding-top: 10px;
        align-items: center;
        display: grid;
        grid-auto-flow: column;
        padding-bottom: 1vh;
    }

    .container ul{
        align-items: center;
        display: grid;
        grid-auto-flow: column;

    }

    .container a{
        fontSize: small;
    }


    .container h3{
        font-size: 12px;
        align-items: center;
        display: grid;
        grid-auto-flow: column;
    }

    .container h1{
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        justify-content: center;
    }

    .container hr{

        border: 1px dashed black;
    }
}

@media only screen and (max-width: 375px){
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box {
        width: 85vw;
        height: 50vh;
        border-width: 5px;
        border-color: black;
        box-shadow: 3px 2px black;

    }

    .navbar{
        padding-top: 10px;
        align-items: center;
        display: grid;
        grid-auto-flow: column;
        padding-bottom: 1vh;
    }

    .container ul{
        align-items: center;
        display: grid;
        grid-auto-flow: column;

    }

    .container a{
        fontSize: small;
    }


    .container h3{
        font-size: 10px;
        align-items: center;
        display: grid;
        grid-auto-flow: column;
    }

    .container h1{
        align-items: center;
        font-size: 13px;
        font-weight: bold;
        justify-content: center;
    }

    .container hr{

        border: 1px dashed black;
    }
}