.Portfolio{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #d8ebf6, #8395c1);
}

.Portfolio > h1 {
    justify-content: center;

    padding: 5vh;
}


.box{
    cursor: pointer;
    padding-bottom: 5vh;
    font-weight: 600;
}

.box > a{
    text-decoration: none;
    color: blue;
}

.box > p{
    text-decoration: none;
    color: black;
}

