.Portfolio{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #d8ebf6, #8395c1);
}

/*.Portfolio > h1 {*/
/*    justify-content: center;*/

/*    padding: 5vh;*/
/*}*/


.box{
    justify-content: space-between;
    padding-bottom: 5vh;
    font-weight: 600;
}

.box > a{

    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.box > p{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;

}

.title > h1{
    margin-right: 30px;
    flex-grow: 1;
    font-size: 30px;

}

.title > h2 {
    margin-left: 30px;
    text-decoration: none;
    font-size: 50px;
    padding-bottom: 3vh;
}
